<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=3.1.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
		<section name="RedisConfig" type="VnetGps.CacheManager.RedisConfigInfo, VnetGps.CacheManager" />
	</configSections>
	<RedisConfig ServerList="127.0.0.1:6379" Password="" QueueName="queue">
	</RedisConfig>
	<dataConfiguration defaultDatabase="ConnStr" />
	<system.data>
		<DbProviderFactories>
			<remove invariant="MySql.Data.MySqlClient" />
			<add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.12.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
		</DbProviderFactories>
	</system.data>
	<connectionStrings>
		<add name="ConnStr" connectionString="Persist Security Info=true;database=topgps_202006;server=localhost;user id=root;password=;port=3306;" providerName="MySql.Data.MySqlClient" />
		<add name="QueueConnStr" connectionString="Persist Security Info=true;database=topgps_spring;server=localhost;user id=root;password=;port=3306;" providerName="MySql.Data.MySqlClient" />
		<add name="redisstr" connectionString="127.0.0.1:6379,password=" />
	</connectionStrings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
	</startup>
	<appSettings>
		<!-- Common Config -->
		<add key="LogPath" value="C:\GPS_Services_Logs\VnetGps.VDataServer\\" />
		<add key="ShowLog" value="True" />
		<add key="IsTestMode" value="True" />
		<add key="ClearLogDay" value="05" />
		<!-- Cache Config : redis/runtime -->
		<add key="Cache" value="runtime" />
		<!-- AWS, RabbitMQ Config -->
		<add key="IsPushToRabbitMQ" value="True" />
		<add key="RabbitMqHost" value="localhost" />
		<add key="RabbitMqPort" value="5673" />
		<add key="RabbitMqVirtualHost" value="localhost" />
		<add key="RabbitMqExchange" value="amq.direct" />
		<add key="RabbitMqRoutingKey" value="gps0" />
		<add key="RabbitMqUsername" value="test" />
		<add key="RabbitMqPassword" value="test123456" />
		<add key="RabbitMqQueueList" value="gps0,gps1,gps2,gps3,gps4,gps5,gps6,gps7,gps8,gps9" />
		<!-- Minio Config -->
		<add key="MinioHost" value="http://minio.vnetgps.com" />
		<add key="MinioPort" value="9000" />
		<add key="MinioAccessKey" value="SEQYL5NMNAXDJL635RHA" />
		<add key="MinioSecretKey" value="JchWneTH0Fz3JZXD0/4bmK3NXQPQGjvaVqiVic+E" />
		<add key="MinioBucketName" value="photos" />
		<!-- SQL RabbitMQ Config -->
		<add key="IsQueueSQLQuery" value="True" />
		<!-- Indicate that the service will put data into RabbitMQ  -->
		<add key="IsInsertSQLQuery" value="True" />
		<!-- Indicate that the service will insert data into db  -->
		<add key="SqlRabbitMqHost" value="localhost" />
		<add key="SqlRabbitMqPort" value="5673" />
		<add key="SqlRabbitMqVirtualHost" value="sql" />
		<add key="SqlRabbitMqExchange" value="amq.direct" />
		<add key="SqlRabbitMqRoutingKey" value="sql0" />
		<add key="SqlRabbitMqUsername" value="test" />
		<add key="SqlRabbitMqPassword" value="test123456" />
		<add key="ClientSettingsProvider.ServiceUri" value="" />
		<!--RabbitMQ Alert-->
		<add key="IsAlert" value="true"></add>
		<add key="RMQAlert" value="amqp://test:test123456@localhost:5673/feature?exchange=amq.direct" />
		<add key="RMQAlertRoutingKey" value="alert"></add>
		<!--End RMQ Alert-->

		<!--RabbitMQ ZSpeed-->
		<add key="IsZSpeed" value="true" />
		<add key="RMQZSpeed" value="amqp://test:test123456@localhost:5673/localhost?exchange=zspeed;prefix=zspeed;extra=model" />
		<!--End RMQ ZSpeed-->

		<!--RabbitMQ ZData-->
		<add key="IsZData" value="true" />
		<add key="RMQZData" value="amqp://test:test123456@localhost:5673/localhost?exchange=zdata;prefix=zdata;extra=model" />
		<!--End RMQ ZData-->

		<!--RabbitMQ Government-->
		<add key="IsGovernment" value="true" />
		<add key="QueuesGoverment" value="gov0,gov1,gov2,gov3,gov4,gov5,gov6,gov7,gov8,gov9" />
		<add key="RMQGovernment" value="amqp://test:test123456@localhost:5673/localhost?exchange=government" />
		<!--End RMQ Government-->

		<!--RabbitMQ ThirdParty-->
		<add key="IsThirdParty" value="true" />
		<add key="QueuesThirdParty" value="thp0,thp1,thp2,thp3,thp4,thp5,thp6,thp7,thp8,thp9" />
		<add key="RMQThirdParty" value="amqp://test:test123456@localhost:5673/localhost?exchange=third_party" />
		<!--End RMQ ThirdParty-->

		<!--RabbitMQ ZSim-->
		<add key="IsZSim" value="true"></add>
		<add key="RMQZSim" value="amqp://test:test123456@localhost:5673/feature?exchange=amq.direct" />
		<add key="RMQZSimRoutingKey" value="zsim"></add>
		<!--End RMQ ZSim-->

		<!--RabbitMQ Toll Station-->
		<add key="IsTollStation" value="true"></add>
		<add key="RMQTollStation" value="amqp://test:test123456@localhost:5673/feature?exchange=amq.direct" />
		<add key="RMQTollStationRoutingKey" value="toll_station"></add>
		<!--End RMQ Toll Station-->
	</appSettings>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-4.0.1.0" newVersion="4.0.1.0" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<system.web>
		<membership defaultProvider="ClientAuthenticationMembershipProvider">
			<providers>
				<add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
			</providers>
		</membership>
		<roleManager defaultProvider="ClientRoleProvider" enabled="true">
			<providers>
				<add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
			</providers>
		</roleManager>
	</system.web>
</configuration>	